<mat-card *ngIf="producto" class="producto-card">
    <mat-card-header>
        <div mat-card-avatar class="producto-header-image"></div>
        <mat-card-title>{{producto.nombre}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="producto.foto" alt="Photo of a Shiba Inu" class="card-image">
    <mat-card-content>
        <p>
            {{producto.precio}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Buy</button>
    </mat-card-actions>
</mat-card>
