<app-header></app-header>
<router-outlet></router-outlet>
<hr>
<!-- Footer -->
<footer class="page-footer font-small indigo" style="background-color:orangered;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Conócenos</h5>

        <ul class="list-unstyled">
          <li>
            <a class="footer-text-color" href="#!">Trabajar en PARAHogar</a>
          </li>
          <li>
            <a class="footer-text-color" href="#!">Sobre PARAHogar</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Métodos de pago PARAHogar
        </h5>

        <ul class="list-unstyled">
          <li>
            <a class="footer-text-color" href="#!">Métodos de pago
            </a>
          </li>
          <li>
            <a class="footer-text-color" href="#!">Conversor de divisas de PARAHogar</a>
          </li>
          <li>
            <a class="footer-text-color" href="#!">Cheques Regalo</a>
          </li>
          <li>
            <a class="footer-text-color" href="#!">Recarga online</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Información</h5>

        <ul class="list-unstyled">
          <li>
            <a class="footer-text-color" href="#!">Área legal</a>
          </li>
          <li>
            <a class="footer-text-color" href="#!">Aviso de publicidad</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <p class="footer-text-color">PARAHogar.com</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->