<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile [colspan]="1">
    <img style="margin-left: 10px;" width="100%" src="assets/imagenes/icono_hogar.JPG" />
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field appearance="legacy">
        <!-- <mat-label>Legacy form field</mat-label> -->
        <input matInput type="text">
      </mat-form-field>
      <button mat-raised-button color="warn">Warn</button>

    </div>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <div fxLayout="row" fxLayoutAlign="end center">

      <button mat-raised-button color="warn"> Devoluciones y pedidos </button>

      <span style="display:inline-block; width: 10px;"></span>


      <button mat-raised-button color="warn">
        <mat-icon aria-hidden="false" class="material-icons" aria-label="Example home icon">account_box</mat-icon> Mi Cuenta
      </button>

      <span style="display:inline-block; width: 10px;"></span>

      <button mat-raised-button color="warn">
        <mat-icon aria-hidden="false" class="material-icons" aria-label="Example home icon">shopping_cart</mat-icon>Mi Carrito
      </button>

    </div>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
<hr>
<!-- Footer -->
<footer class="page-footer font-small indigo" style="background-color:orangered;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Conócenos</h5>

        <ul class="list-unstyled">
          <li>
            <a class="footer-text-color" href="#!">Trabajar en PARAHogar</a>
          </li>
          <li>
            <a class="footer-text-color" href="#!">Sobre PARAHogar</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Métodos de pago PARAHogar
        </h5>

        <ul class="list-unstyled">
          <li>
            <a class="footer-text-color" href="#!">Métodos de pago
            </a>
          </li>
          <li>
            <a class="footer-text-color" href="#!">Conversor de divisas de PARAHogar</a>
          </li>
          <li>
            <a class="footer-text-color" href="#!">Cheques Regalo</a>
          </li>
          <li>
            <a class="footer-text-color" href="#!">Recarga online</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Información</h5>

        <ul class="list-unstyled">
          <li>
            <a class="footer-text-color" href="#!">Área legal</a>
          </li>
          <li>
            <a class="footer-text-color" href="#!">Aviso de publicidad</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <p class="footer-text-color">PARAHogar.com</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->